.collections{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;

    gap: 40px;
}

.collection__profile{
    position: relative;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.profile__grad{
    position: absolute;
    left: -1%;
    top: -2%;
    width: 41%;
    height: 104%;
    border-radius: 50%;
    background: var(--btn-grad);
    z-index: -1;
}

.collection__profile img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.pro__detail{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.pro__detail h3{
    font-weight: 400;
}

.pro__detail p{
    color: blue;
    text-align: left;
}

.gradient-6{
    position: absolute;
    width: 50%;
    height: 40%;

    top: 50%;
    left: 3%;

    border-radius: 50%;

    background: #2a47a1;
    opacity: 0.6;
    filter: blur(140px);
    z-index: -1;
}

.gradient-7 {
    position: absolute;
    width: 50%;
    height: 40%;

    top: 50%;
    right: 3%;

    border-radius: 50%;

    background: #CF2AC0;
    opacity: 0.6;
    filter: blur(140px);
    z-index: -1;
}