.collection__section h1{
    font-family: 'Clash Display', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    width: 30%;
    text-align: center;
}

.collections{
    margin-top: 4%;
    display: grid;
    align-items: center;
    gap: 10%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80%;
    
}

.collection__profile{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.collection__profile img{
    width: 5rem;
    height: 5rem;
    object-fit: cover;
    border-radius: 50%;
}

.pro__detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.pro__detail p{
    color: blue;
}

.gradient-6{
    position: absolute;
    width: 50%;
    height: 40%;

    top: 50%;
    left: 3%;

    border-radius: 50%;

    background: #2a47a1;
    opacity: 0.6;
    filter: blur(140px);
    z-index: -1;
}

.gradient-7 {
    position: absolute;
    width: 50%;
    height: 40%;

    top: 50%;
    right: 3%;

    border-radius: 50%;

    background: #CF2AC0;
    opacity: 0.6;
    filter: blur(140px);
    z-index: -1;
}