.FAQ__section{
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 50px;
}

.FAQ__section-left{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 60%;
    top: 5%;
}

.FAQ__section-left h1{
    text-align: left;
    line-height: 80px;
}

.FAQ__section-left p{
    margin-top: 50px;
    text-align: start;

    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
}

.FAQ__section-right{
    position: absolute;
    right: 12.5%;
    top: -2.5%;
    width: 35%;
}