.team__members {
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 80px;
}

.team__member {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.pic__radius {
    position: absolute;
    width: 6.5rem;
    height: 6.5rem;
    background: var(--btn-grad);
    border-radius: 50%;
    top: -30%;
}

.team__member img {
    position: absolute;
    top: -29%;
    width: 6.3rem;
    height: 6.3rem;
    border-radius: 50%;
    object-fit: cover;
}

.team__card {
    width: 20rem;
    height: 10rem;
    padding: 20px;
    background: rgba(18, 15, 47, 1);
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.team__card h3 {
    font-family: 'Clash Display', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.52px;
}

.team__card span {
    font-size: 18px;
    font-weight: 500;
    line-height: 24.6px;
}

.ourTeam__grad1 {
    position: absolute;

    width: 20%;
    height: 20%;

    left: 3%;
    bottom: 5%;

    background: #FF29C3;
    filter: blur(180px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
}

.ourTeam__grad2 {
    position: absolute;

    width: 20%;
    height: 20%;

    left: 2%;
    bottom: 30%;

    border-radius: 50%;

    background: #5416E9;
    filter: blur(180px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    z-index: -1;
}