.popCollection__title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popCollection__title h1 {
    text-align: start;
}

.popCollection__container {
    width: 100%;
}

.popCollection__container::-webkit-scrollbar {
    display: none;
}

.popCollection__content {
    flex-shrink: 0;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border-radius: 16px;
    /* background: aquamarine; */
}

.popCollection__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.popCollection__images div:nth-child(1) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.popCollection__images div:nth-child(2) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.popCollection__images div:nth-child(1) img {
    width: 166px;
    height: 158px;
    border-radius: 16px;
    object-fit: cover;
}

.popCollection__images div:nth-child(2) img {
    width: 107px;
    height: 107px;
    border-radius: 16px;
    object-fit: cover;
}

.popCollection__details {
    margin-left: 4px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
}

.popCollection__details img {
    width: 45px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50%;
    object-fit: cover;
}

.popCollection__detail {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    margin-left: 10px;
}

.popCollection__detail p {
    width: 100%;
    text-align: start;
    color: #A4A5AD;
    font-size: 15px;
}

.popCollection__detail p span {
    font-size: 16px;
    font-weight: 600;
}

.grad__top {
    position: absolute;
    width: 224px;
    height: 211px;
    border-radius: 50%;
    background: #5416E9;
    opacity: 0.5;
    filter: blur(111.5px);
    top: 0;
    right: 0;
    z-index: -1;
}

.grad__left {
    position: absolute;
    width: 224px;
    height: 211px;
    border-radius: 50%;
    background: #5416E9;
    opacity: 1;
    filter: blur(111.5px);
    bottom: 0;
    left: -30%;
    z-index: -1;
}

.grad__right {
    position: absolute;
    width: 224px;
    height: 211px;
    border-radius: 50%;
    background: #CF2AC0;
    opacity: 0.7;
    filter: blur(111.5px);
    bottom: 0;
    right: -30%;
    z-index: -1;
}

.popCollection__section button {
    background-size: 9rem;
    width: 9rem;
    height: 3.2rem;
    align-self: flex-end;
}