.picks__title {
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picks__title h1 {
    text-align: start;
}

.picks__title button {
    background-size: 9rem;
    width: 9rem;
    height: 3.2rem;
}

.picks__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.picks__content{
    display: flex;
    flex-direction: column;
    
}

.picks__content img {
    width: 13.25rem;
    height: 11rem;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.picks__details {
    width: 100%;
    height: 8rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-radius: 0 0 16px 16px;

    position: relative;
    overflow: hidden;
}

.picks__details .g_top{
    position: absolute;
    left: -50%;
    top: -50%;
    z-index: -1;
}

.picks__details .g_bottom{
    position: absolute;
    left: 50%;
    bottom: -50%;
    z-index: -1;
}

.picks__value {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}

.picks__fp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.picks__fp span,
.picks__fp p{
    font-size: 13px;
}

.picks__fp p{
    width: 100%;
    font-weight: 600;
}

.picks__fp span,
.picks__tv span{
    color: #6C7AA0;
}

.picks__tv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.picks__tv span,
.picks__tv p{
    font-size: 13px;
    text-align: center;
}

.picks__tv p{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    /* line-height: 20px; */
    /* text-align: center; */
}

.picks__tv img {
    width: 20px;
    height: 20px;
}