.topSeller__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.topSeller__title h1 {
    text-align: start;
}

.topSeller__title button {
    background-size: 9rem;
    width: 9rem;
    height: 3.2rem;
}

.topSeller__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.topSeller__sellers {
    background: #120F2F;
    width: 22.875rem;
    height: 8.875rem;
    padding: 20px;
    border-radius: 16px;

    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.topSeller__sellers img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.tick-icon {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15px;
    background: #5142FC;
    border-radius: 50%;
    left: 21%;
    bottom: 24%;
}

.tick-icon i {
    font-size: 13px;
}

.seller__details {
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start
}

.seller__details h1 {
    text-align: start;
    width: 100%;
    font-size: 24px;
}

.seller__details a {
    color: #6C7AA0;
}

.seller__rank {
    position: absolute;
    top: 2%;
    right: 2%;
    color: #5416E9;
    font-weight: 500;
    font-size: 24px;
}

.follow__button {
    position: absolute;
    width: 64.72px;
    height: 24px;
    background:rgba(255, 255, 255, 0.08);
    /* backdrop-filter: blur(6px); */
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

    right: 5%;
    bottom: 23%;

    color: #fff;
    font-size: 12px;
    font-weight: 400;
}
