.joinKult__steps{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.joinKult__step{
    position: relative;
    width: 18rem;
    height: 24rem;
    padding: 10px;
    background: #120F2F;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.joinKult__step img{
    width: 60%;
    z-index: 10;
}

.step__grad{
    position: absolute;
    width: 40%;
    height: 30%;

    top: 8%;

    background: #98a1ff;
    opacity: 0.3;
    filter: blur(33px);
}



.joinKult__step span{
    /* width: 100%; */
    text-align: center;
}
