.joinKult__steps{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 20px;
}

.joinKult__step{
    position: relative;
    width: 100%;
    height: 100%;

    padding: 10px;
    background: #120F2F;
    border-radius: 16px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.steps {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.joinKult__step img{
    width: 50%;
    z-index: 10;
}

.step__grad{
    position: absolute;
    width: 40%;
    height: 30%;

    top: 8%;

    background: #98a1ff;
    opacity: 0.3;
    filter: blur(33px);
}



.joinKult__step span{
    /* width: 100%; */
    text-align: center;
}
