.kultIGO__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.kultIGO__item {
    background: rgba(42, 71, 161, 0.25);
    width: 9em;
    padding: 10px 40px;
    border-radius: 6.66px;
    display: flex;
    justify-content: center;

    cursor: pointer;
    border: 1px solid transparent;
    transition: border 0.5s ease-in-out;
}

.kultIGO__item:hover{
    border: 1px solid #2A47A1;
    background: #2A47A1;
    transition: all 0.2s ease-in-out;
}

.active__list {
    background: #2A47A1;
}

.kultIGO__container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.kultIGO__card {
    width: 32%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.kultIGO__card img {
    width: 100%;
    display: block;
    border-radius: 16px 16px 0 0;
    object-fit: cover;
}

.kultIGO__card-desc {
    height: 20rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    padding: 1rem;
    align-items: flex-start;
    border-radius: 0 0 16px 16px;
    overflow: hidden;
}

.kultIGO__card-desc h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 36px;
}

.kultIGO__card-desc p {
    color: rgba(164, 165, 173, 1);
    width: 100%;
    font-size: 1rem;
    font-weight: 400;
    line-height: 21px;
    text-align: start;
}

.kultIGO__card-desc p.card__amt {
    text-align: end;
}

.kultIGO__list {
    width: 100%;
}

.kultIGO__list li {
    display: flex;
    align-items: center;

}

.card__d {
    flex: 1;
    text-align: start;

    color: rgba(164, 165, 173, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
}

.card__amt {
    flex: 1;
    text-align: end;

    color: #fff;

    font-weight: 600;
    font-size: 1.2rem;
    line-height: 24px;
}



.kultIGO__grad1 {
    position: absolute;

    width: 50%;
    height: 50%;

    top: -18%;
    right: -18%;

    background: #5416e9;
    opacity: 0.8;
    filter: blur(111.5px);
}

.kultIGO__grad2 {
    position: absolute;

    width: 50%;
    height: 50%;

    left: -18%;
    bottom: -10%;

    background: #5416e9;
    opacity: 0.8;
    filter: blur(111.5px);
    z-index: -1;
}

.kultIGO__grad3 {
    position: absolute;

    width: 50%;
    height: 50%;

    right: -20%;
    bottom: -10%;

    background: #CF2AC0;
    opacity: 0.9;
    filter: blur(111.5px);
    z-index: -1;
}