.artist__cardholder {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    gap: 20px;
}

.artist__card {
    width: 100%;
    height: 100%;
    position: relative;
    gap: 20px;
}

.artist__card img:nth-child(1){
    max-width: 100%;
    width: 100%;
    height: 100%;
    border-radius: 16px;
}

.artist{
    width: 32%;
    height: 25%;

    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

    border: 2px solid #fff;
    border-radius: 50%;

    z-index: 1;
    object-fit: cover;
}

.artist__detail {
    position: absolute;
    width: 100%;
    height: 30%;
    
    background: rgba(184, 184, 184, 0.36);
    backdrop-filter: blur(6px);
    border-radius: 0 0 16px 16px;
    
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    bottom: 0;
}

.artist__detail h3{
    font-family: 'Clash Display', sans-serif;
}