.artist__section {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.artist__section h1 {
    font-family: 'Clash Display', sans-serif;
    font-size: 50px;
    font-weight: 600;
    line-height: 61.5px;
}

.artist__section p {
    width: 70%;

    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.artist__cardholder {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.artist__card {
    position: relative;
    object-fit: cover;
}

.artist__card .artist__img {
    display: block;
    width: 262px;
    height: 100%;
    border-radius: 16px;
}

.artist{
    width: 75px;
    height: 75px;

    display: flex;
    align-items: center;

    position: absolute;
    bottom: 20%;
    left: 35%;

    border: 2px solid #fff;
    border-radius: 50%;

    z-index: 1;
    object-fit: cover;
}

.artist__detail {
    position: absolute;
    width: 262px;
    height: 107px;
    background: rgba(184, 184, 184, 0.36);
    backdrop-filter: blur(6.5px);
    border-radius: 0 0 16px 16px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    bottom: 0;
}

.artist__detail h3{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}

